{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- navigation left -->
    <nav class="navigation scroll-bar">
        <div class="container ps-0 pe-0">
            <div class="nav-content">
                <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span>New </span>Feeds</div>
                    <ul class="mb-1 top-content">
                        <li class="logo d-none d-xl-block d-lg-block"></li>
                        <li><a href="default.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="tv"></i><span>Newsfeed</span></a></li>
                        <li><a href="default-badge.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="award"></i><span>Badges</span></a></li>
                        <li><a href="default-storie.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="globe"></i><span>Explore Stories</span></a></li>
                        <li><a href="default-group.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="zap"></i><span>Popular Groups</span></a></li>
                        <li><a href="user-page.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="user"></i><span>Author Profile </span></a></li>
                    </ul>
                </div>

                <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2">
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span>More </span>Pages</div>
                    <ul class="mb-3">
                        <li><a href="default-email-box.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="inbox"></i><span>Email Box</span><span
                                    class="circle-count bg-warning mt-1">584</span></a></li>
                        <li><a href="default-hotel.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="home"></i><span>Near Hotel</span></a></li>
                        <li><a href="default-event.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="map"></i><span>Latest Event</span></a></li>
                        <li><a href="default-live-stream.html" class="nav-content-bttn open-font"><i class="me-3"
                                    data-feather="youtube"></i><span>Live Stream</span></a></li>
                    </ul>
                </div>
                <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1">
                    <div class="nav-caption fw-600 font-xssss text-grey-500"><span></span> Account</div>
                    <ul class="mb-1">
                        <li class="logo d-none d-xl-block d-lg-block"></li>
                        <li><a href="default-settings.html" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i
                                    class="me-3" data-feather="settings"></i><span>Settings</span></a></li>
                        <li><a href="default-analytics.html" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i
                                    class="me-3" data-feather="pie-chart"></i><span>Analytics</span></a></li>
                        <li><a href="default-message.html" class="nav-content-bttn open-font h-auto pt-2 pb-2"><i
                                    class="me-3" data-feather="message-square"></i><span>Chat</span><span
                                    class="circle-count bg-warning mt-0">23</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- navigation left -->
{% endblock content %}